@import url('https://fonts.googleapis.com/css?family=Raleway');
        body {
            font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1em;
        }

        .slice {
            cursor: pointer;
        }

        .slice .main-arc {
            stroke: #fff;
            stroke-width: 1px;
        }

        .slice .hidden-arc {
            fill: none;
        }

        .slice text {
            pointer-events: none;
            dominant-baseline: middle;
            text-anchor: middle;
        }

        #tooltip {
            background-color: white;
            padding: 3px 5px;
            border: 1px solid black;
            text-align: center;
            padding:10px;
            width: 200px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
